/* Regole Generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sezione Intestazione */

header {
    /* DEBUG */
    background-color: blue;
    min-height: 650px;
}

nav {
    /* DEBUG */
    border: 2px solid;
    min-height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/* corpo principale */



article {
    /* debug */
    min-height: 300px;
    max-width: 600px;
    margin: 0 auto;
}

.content{
    display: flex;
    max-width: 600px;
    margin: 0 auto;
}

.colcont{
    
    /* debug */
    min-height:300px ;
    background-color: gray;
}

/* Sezione footer */
footer {
    /* DEBUG */
    background-color: grey;
    min-height: 500px;
}

.container{
    /* DEBUG */

}

div .collegamenti {
    display: flex;
    /* DEBUG */
    border: black solid 2px;
    min-height: 370px;
    max-width: 800px;
    margin: 0 auto;
  
}

div .social{
    /* DEBUG */
    border: 2px solid black;
    width: calc(100%/3);
    
}

div .linkfooter{
    /* DEBUG */
    border: 2px solid black;
    width: calc(100%/6);

}

